// Variables
//
// Variables for the projects
//
// markup:
//
// Styleguide 1.1
//

// Units
$size					: 1.125rem;
$size--md				: 1.25rem;
$size--lg				: 2rem;

// Colors
$primary-clr			: #349ee4; //Blue
$secondary-clr			: #AAA; //Grey
$secondary-clr--light	: lighten(#AAA, 25%); //Grey